# IT1244 Project

## Import Libraries

In [55]:
import re as re
import heapq as heapq
import pandas as pd
import numpy as np
import pyarrow.parquet as pq
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MultiLabelBinarizer, Normalizer
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

from transformers import pipeline

None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.

## Data Importing

In [46]:
tweets = pd.read_csv("../Data/Raw/Tweets.csv")
tweets.head()

,airline_sentiment,sentiment_confidence,text
0,neutral,1.0000,@VirginAmerica What @dhepburn said.
1,positive,0.3486,@VirginAmerica plus you've added commercials t...
2,neutral,0.6837,@VirginAmerica I didn't today... Must mean I n...
3,negative,1.0000,@VirginAmerica it's really aggressive to blast...
4,negative,1.0000,@VirginAmerica and it's a really big bad thing...

### Code starts here

In [47]:
tweets.shape

(14639, 3)

In [48]:
tweets["text"][1]

"@VirginAmerica plus you've added commercials to the experience... tacky."

In [49]:
def at_filter(text):
    return re.sub(r"@\w+", "", text)

In [50]:
def alpha_filter(text):
    return re.sub(r'[^A-Za-z ]', '', text)

## Data Cleaning

In [51]:
tweets["text"] = tweets["text"].apply(lambda x: at_filter(x))

In [52]:
tweets["text"] = tweets["text"].apply(lambda x: alpha_filter(x))

In [53]:
tweets

,airline_sentiment,sentiment_confidence,text
0,neutral,1.0000,What said
1,positive,0.3486,plus youve added commercials to the experienc...
2,neutral,0.6837,I didnt today Must mean I need to take anothe...
3,negative,1.0000,its really aggressive to blast obnoxious ente...
4,negative,1.0000,and its a really big bad thing about it
...,...,...,...
14634,positive,0.3487,thank you we got on a different flight to Chi...
14635,negative,1.0000,leaving over minutes Late Flight No warnings...
14636,neutral,1.0000,Please bring American Airlines to BlackBerry
14637,negative,1.0000,you have my money you change my flight and do...
14638,neutral,0.6771,we have ppl so we need know how many seats ...

In [54]:
tweets.to_csv("../Data/Cleaned/CleanTweets.csv")

In [57]:
max(list(map(lambda x: len(x), tweets["text"])))

166